#container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vh;
    height: 60vh;
    background-color: #6791d6;
    border-radius: 25px;

  }
#nextbutton {
    position: absolute;
    background-color: #4c72af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    right: 0;
    bottom: 0;
    
  }
.col50 {
width: 100%;
float: center;
text-align: center;
margin: 0 auto;
margin-right: 0;
margin-left: 0;
font-size: 30px;

  }

.col75 {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
 select {
    width: 100%;
    padding: 12px;
    border: 11px solid #6791d6;
    border-radius: 4px;
    resize: vertical;
    font-size: 25px;
    
  }
.step-container{
    display: none;
}
